---
layout: default
title: Aniket's Blog
---

<!-- <div class="blurb">
	<p> This is my blog about economics and social issues.
		<a href="https://kaniket.wordpress.com/about/">You can read a bit more about me here ... </a></p>
</div> -->
<!-- /.blurb -->

<ul>
  {% for post in site.posts %}
	{% for tag in post.tags %}
	{% if tag == "Front" %}
	
	<li>
	<div class="cities">
      <!-- <a href="{{ post.permalink }}">{{ post.title }}</a> -->
	  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <p>{{ post.excerpt }}</p>
  </div>
    </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

