<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog/">Blogs</a></li>
					<li><a href="/categories/">Categories</a></li>
					<li><a href="/tag/">Tags</a></li>
				<li><a href="http://kaniket1.github.io/blog/atom.xml">RSS</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kumar.aniket@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kaniket1">github.com/kaniket1</a></li>
				</ul>
			</footer>
		</body>
	</html>
